:root {
--primary-text-color: #212121;
--title-text-color: #757575;
--accnent-color: #2196F3;
--primary-white-color: #FFFFFF;
}

body {
    background-color: var(--primary-white-color);
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

.logo {
    color: #2196F3;
    font-family: "Raleway", cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo-link {
    color: #000000; 
    font-family: "Raleway", cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;    
}

.logo-footer {
    color: #FFFFFF; 
    font-family: "Raleway", cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none; 
}

.site-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
    
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accnent-color);
}
    
.site-nav .link.current {
    color: var(--accnent-color);
}
    
.mail-tel .mail {
    color: var(--accnent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
    
.mail-tel .tel {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none
}
    
.footer {
    background: #2F303A;
}

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.address-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-white-color);
    text-decoration: none;
}

.address:hover,
.address:focus 