

.list {
    list-style: none;
}

.hero-title {
color: var(--primary-text-color);
}

.section-title {
    color: var(--primary-text-color);
}

.feature-list .title {
    color: var(--primary-text-color);
}

.team-list .title {
    color: var(--primary-text-color);
}

.button-primaru {
    color: var(--primary-white-color);
    background-color: var(--accnent-color);
}