

.list {
    list-style: none;
}


.hero-title {
    color: var(--accnent-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hero {
    background: #2F303A;
}


.section-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    
}

.feature-list .title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.feature-list .text {
    font-size: 14px;
    line-height: 1.71;
}

.team-list .title {
    color: var(--primary-text-color);
}

.team-list .text-two {
    font-size: 16px;
    line-height: 1.19;

}

.button-primaru {
    color: var(--primary-white-color);
    background-color: var(--accnent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.button {
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.button:hover,
.button:focus {
    color: var(--primary-white-color);
    background-color:var(--accnent-color);
}

.team {
    background: #F5F4FA
}

.portfolios-list .title-two {
    color:var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2; 
    letter-spacing: 0.06em;
}

.portfolios-list .text-with {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}
